# Introdução Pandas
* [Código no github](https://github.com/jhonatandasilva/ciencia-de-dados)
* [Explicação YouTube](https://youtube.com/jhonatan31415?sub_confirmation=1)

In [5]:
import pandas as pd
import os

In [6]:
os.listdir('.')

['#2 Pandas.ipynb',
 '.git',
 'data',
 '#1 Jupyter Notebooks - Básico.ipynb',
 'README.md',
 '.ipynb_checkpoints']

In [7]:
os.listdir('data')

['idade.csv']

In [10]:
df = pd.read_csv('data/idade.csv')

In [11]:
df.head()

   idade  peso genero
0     18    70      M
1     21    72      M
2     17    67      M
3     19    59      F
4     23    82      M

In [12]:
df['idade']

0     18
1     21
2     17
3     19
4     23
5     17
6     19
7     21
8     23
9     18
10    19
11    21
Name: idade, dtype: int64

In [13]:
df.iloc[0]

idade     18
peso      70
genero     M
Name: 0, dtype: object

In [20]:
df.iloc[0,0]

18

### Pandas II
* [Parte II YouTube](https://youtube.com/jhonatan31415?sub_confirmation=1)

In [30]:
peso_maximo = df.max()['peso']
idade_maxima = df.max()['idade']

In [31]:
df['idade_normalizada'] = df['idade']/idade_maxima
df['peso_normalizado'] = df['peso']/peso_maximo
df

    idade  peso genero  idade_normalizada  peso_normalizado
0      18    70      M           0.782609          0.853659
1      21    72      M           0.913043          0.878049
2      17    67      M           0.739130          0.817073
3      19    59      F           0.826087          0.719512
4      23    82      M           1.000000          1.000000
5      17    65      M           0.739130          0.792683
6      19    55      F           0.826087          0.670732
7      21    78      F           0.913043          0.951220
8      23    72      F           1.000000          0.878049
9      18    73      M           0.782609          0.890244
10     19    61      M           0.826087          0.743902
11     21    72      F           0.913043          0.878049

In [46]:
df = df.drop(['idade','peso'],axis=1)

In [50]:
df.to_csv('data/novo_df_idade.csv',index=False)

In [42]:
os.listdir('data')

['idade.csv', 'novo_df_idade.csv', 'novo_idade.csv']

In [51]:
novo_df = pd.read_csv('data/novo_df_idade.csv')

In [52]:
novo_df.head()

  genero  idade_normalizada  peso_normalizado
0      M           0.782609          0.853659
1      M           0.913043          0.878049
2      M           0.739130          0.817073
3      F           0.826087          0.719512
4      M           1.000000          1.000000